.myproducts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}