.searchbar-container {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .search-input {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background-color: #f5f5f5;
    width: 400px;
    max-width: 90vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  
    &:focus {
      outline: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    &::placeholder {
      color: #999;
    }
  }
  
  
  .search-input:hover ,
  .search-input:focus{
    color: #0084ff;
    transition: color 0.3s ease;
  }
  